<div id="read_page">
	<div id="header">
		<h1>Read Quotes</h1>
	</div>
	
	<div id="content">
			
			<div id="navigate">
				<div id="left"><%= (@index>0)?(link_to image_tag("../images/slide_left.png"), read_index_path(:index=>@index-1)):() %></div>
				<div id="right"><%= (@index<session[:size]-1)?(link_to image_tag("../images/slide_right.png"), read_index_path(:index=>@index+1)):() %></div>
			</div>
		
		
			<div id="quote">
				<div id="top"></div>
				<div id="mid"><p><%= @quote_text %></p></div>
				<div id="bottom"></div>
			</div>
			<div id="score">
				<div id="top"></div>
				<div id="mid"><p><%= @quote_score %></p></div>
				<div id="bottom"></div>
			</div>
			
			<div id="exit">
				<%= link_to "Exit", "/" %>
			</div>

	</div>
	
	<div id="footer">
	
	</div>
</div>
