
<div id="mash_page">
	<div id="header">
		<h1>Wisbit Mash</h1>
		<div id="subtitle"><%= session[:category] %></div>
	</div>
	<div id="content">	
		<% if flash[:notice] %>
			<div id="notice"><%= flash[:notice] %></div>
		<% else %>
		<% if @start %>
			<div id="instructions">
				Mash wisbits by clicking on the ones you like most
			</div>
		<% end %>
		<table>
			<tr>
				<td style="vertical-align:bottom">
				<div id="quote">
					<div id="top"></div>
					<div id="mid"><p><%= link_to @quote1_text, mash_index_path(:win=>1)  %></p></div> 
					<div id="bottom"></div>
				</div>
				<div id="score">
					<div id="top"></div>
					<div id="mid"><p><%= @quote1_score %></p></div>
					<div id="bottom"></div>
				</div>
				</td>
				<td style="vertical-align:bottom"> 
				<div id="quote">
					<div id="top"></div>
					<div id="mid"><p><%= link_to @quote2_text, mash_index_path(:win=>2) %></p></div> 
					<div id="bottom"></div>
				</div>
				<div id="score">
					<div id="top"></div>
					<div id="mid"><p><%= @quote2_score %></p></div>
					<div id="bottom"></div>
				</div>
				</td>
			</tr>

			<tr>
				<td><%= @quote1_social %></td>
				<td><%= @quote2_social %></td>
			</tr>

			<tr>
				<td colspan="2"><div id="skip"><%= link_to image_tag("../images/slide_right.png", :title=>"Skip"), mash_index_path(:category=>@category, :win=>0) %></div></td>
			</tr>

			<tr>
				<td colspan="2"><div id="exit"><%= link_to "Exit", "/" %> </td>
			</tr>

		</table>

		<% end %>
	</div>
	
	<div id="footer">
		
	</div>
</div>