
<div id="mash_page">
	<div id="header">
		<h1>Wisbit Mash</h1>
		<div id="subtitle"><%= session[:category] %></div>
	</div>
	<div id="content">	
		<% if flash[:notice] %>
			<div id="notice"><%= flash[:notice] %></div>
		<% else %>
		<% if @start %>
			<div id="instructions">
				Rank wisbits by clicking on the ones you like most
			</div>
			<script type="text/javascript">
				//blink thrice: ugly soln, but does the job
				var count=0;
				
				function blink(){
					if (count==7)
						return;
					
					e=document.getElementById('instructions');
					e.style.visibility=(e.style.visibility=='visible')?'hidden':'visible';
					count++;
				}
				
				document.observe('dom:loaded', function(){setInterval('blink()',200);});
			</script>
			
		<% end %>
		<table>
			<tr>
				<td style="vertical-align:bottom">
				<div id="quote">
					<div id="top"></div>
					<div id="mid"><p><%= link_to @quote1_text, {:controller=>"mash", :win=>1}, {:method=>:post}  %></p></div> 
					<div id="bottom"></div>
				</div>
				<div id="score">
					<div id="top"></div>
					<div id="mid"><p><%= @quote1_score %></p></div>
					<div id="bottom"></div>
				</div>
				</td>
				<td style="vertical-align:bottom"> 
				<div id="quote">
					<div id="top"></div>
					<div id="mid"><p><%= link_to @quote2_text, {:controller=>"mash", :win=>2}, {:method=>:post}  %></p></div> 
					<div id="bottom"></div>
				</div>
				<div id="score">
					<div id="top"></div>
					<div id="mid"><p><%= @quote2_score %></p></div>
					<div id="bottom"></div>
				</div>
				</td>
			</tr>

			<tr>
				<td><%= @quote1_social %></td>
				<td><%= @quote2_social %></td>
			</tr>

			<tr>
				<td colspan="2"><div id="skip"><%= link_to image_tag("../images/slide_right.png", :title=>"Skip"), mash_index_path(:category=>@category, :win=>0) %></div></td>
			</tr>

			<tr>
				<td colspan="2"><div id="exit"><%= link_to "Exit", "/" %> </td>
			</tr>

		</table>

		<% end %>
	</div>
	
	<div id="footer">
		
	</div>
</div>
