<h1>Wisbit Mash</h1>
<% if flash[:notice] %>
	<%= flash[:notice] %>
<% else %>

<table>

<tr>
	<td><div id="quote1"><%= link_to session[:matched_quotes][@index].quote, mash_index_path(:category=>@category, :index=>@index+2,:win=>1)  %></div> </td>
	<td><div id="quote2"><%= link_to session[:matched_quotes][@index+1].quote, mash_index_path(:category=>@category, :index=>@index+2,:win=>2) %></div> </td>
</tr>

<tr>
	<td>Share</td>
	<td>Share</td>
</tr>

<tr>
	<td colspan="2"><div id="skip"><%= link_to "Skip", mash_index_path(:category=>@category, :index=>@index+2,:win=>0) %></div></td>
</tr>

<tr>
	<td colspan="2"><div id="exit"><%= link_to "Exit", "/" %> </td>
</tr>

</table>

<% end %>
